


<section class="container text-light rounded text-center" style="margin-top: 200px;">
    <div class="row justify-content-center">
        <div class="col-md-4 my-4 fs-bold">
            <h1>CONTACTUS</h1>
        </div>
    </div>
    <div class=" row pb-5 ">
       <div class=" col-lg-5" >
           <div class="form " >
           <form class="wrapper  rounded p-2 ml-lg-4 p-md-4" style="margin-left: 210px;margin-top: 50px;">
               <input type="text" class="form-control mb-2 " id="name" placeholder="Name">
               <input type="email" class="form-control mb-2" id="email" placeholder="Email">
               <textarea class="form-control mb-4" id="message" placeholder="Message" rows="3"></textarea>
               <input class="btn btn-primary btn-block" type="submit" value="Submit">
           </form>
           </div>
       </div>
        <div class="col-lg-6 text-center" style="margin-left: 100px;">
            <h3 class="mb-1 mt-5 mt-lg-0">Directions:</h3>
            <p class="mb-0">Plot-no : 10</p>
            <p class="mb-0">KPHB</p>
            <p>Hyderabad</p>
            <h3 class="mb-1">Tel-Number:</h3>
            <p>9525252525<br>912345678</p>
            <h3 class="mb-1">Email:</h3>
            <p>contactus@gmail.com</p>
        </div></div></section>
       

